.outer-wrapper {
    background-color: pink;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 10px;
}

.inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.inner-wrapper .dog-type {
    list-style: none;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    flex-basis: calc(33.333% - 20px);
    box-sizing: border-box;
    margin-right: 20px;
}

.inner-wrapper .dog-type:nth-child(3n) {
    margin-right: 0;
}

.inner-wrapper .dog-type:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: currentColor;
}

.inner-wrapper .dog-type {
    color: black; /* Add this */
}

.inner-wrapper .dog-type:nth-child(1)::before {
    background-color: #F44336;
}

.inner-wrapper .dog-type:nth-child(2)::before {
    background-color: #E91E63;
}

.inner-wrapper .dog-type:nth-child(3)::before {
    background-color: #9C27B0;
}

.inner-wrapper .dog-type:nth-child(4)::before {
    background-color: #673AB7;
}

.inner-wrapper .dog-type:nth-child(5)::before {
    background-color: #3F51B5;
}

.inner-wrapper .dog-type:nth-child(6)::before {
    background-color: #2196F3;
}


